# node_modules dependencies
node_modules/

# environments
.env
.env.*.local
.env.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# builds
dist/
build/
packages/*/dist/
.next/
out/
coverage/

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
GoogleService-Info.plist
ios/
android/

# Supabase Local
supabase/.temp/
supabase/.branches/

# AI / Agents
.gemini/
.antigravity/
.agent/
.qoder/
.venv/




# OS files
.DS_Store
Thumbs.db

